[submodule "01-vault/vault/contracts/lib/forge-std"]
	path = 01-vault/vault/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "01-vault/vault/contracts/lib/openzeppelin-contracts"]
	path = 01-vault/vault/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
